.footer {
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #291c2bd6;
  color: white;
  border-radius: 5px;
  width: 92%;
  height: 4vh;
  margin-left: auto;
  margin-right: auto;
}

.footer a {
  color: #ead34c;
}

.footer div a:hover {
  opacity: 0.6;
}

.footer div a:active {
  scale: 0.85;
}

.footer__img {
  width: 4vw;
  height: 2vw;
  transition: box-shadow 0.3s ease;
  transform: translateY(+5%);
}

.footer__img:hover {
  opacity: 0.6;
}

.footer__img:active {
  box-shadow: none;
  scale: 0.85;
}