.nav-display {
  /* border-radius: 15px; */
  box-sizing: border-box;
  width: 100%;
  border-top: 3px solid #624e50c2;
  border-left: 3px solid #624e50c2;
  border-bottom: 3px solid #624e50c2;
  height: 100vh;
  background-color: #291c2bd6;
}