/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/montserrat-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/montserrat-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: Montserrat, sans-serif;
  height: 100vh;
  background-image: url(../../assets/img/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin: 0;
  overflow: hidden;
}

.main {
  display: flex;
  width: 100%;
}

.left-side {
  width: 80vw;
}

.gaming-area {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 90%;
  margin: 0 auto;
  border: 0.8vw solid #624e50c2;
  background-color: #291c2bd6;
}

.right-side {
  width: 20vw;
}

